@{
    ViewData["Title"] = "COK";
}
<div class="main-content-wrapper">
    <div>
        <p class="text-white mt-3 ml-3" style="text-indent: 20px;">
            Обмен книгами (буккроссер) становится всё более популярен. Это даёт шанс бумажным книгам продлить свою жизнь, помогает владельцам книг делиться хорошими историями и  получать новые впечатления.
            Все буккроссеры любят свои книги и любят их читать. Они щедрые, новаторские, дружелюбные, добросердечные, веселые и образованные люди.
        </p>

        <p class="text-white mt-4 ml-3" style="text-indent: 20px;">
            Наш сайт предлагает совершить не просто обмен, а добавить к этому увлекательному процессу элемент сюрприза.
            Подбор книг для обмена будет выполнен по пожеланиям участников, но только при получении книги станет известно, какая именно книга будет радовать своего владельца.
            Интересно? Тогда начинайте обмен и приглашайте своих друзей поучаствовать!
        </p>
    </div>
</div>

