<div class="wrapper">
    <div class="row justify-contect-center">
        <div class="col-md-auto">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Feedback" asp-action="Feedback">Написать сообщение</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Feedback" asp-action="IncomingMessage">Входящие</a></li>
                <li class="nav-item"><a class="nav-link text-white" asp-controller="Feedback" asp-action="ReceivedMessage">Исходящие</a></li>
            </ul>
        </div>
    </div>
</div>