
.main-nav {
	border: 1px solid;
	border-radius: 25px;
	height: auto;
	width: auto;
	margin-bottom: 5px;
}

.main-content-wrapper {
	border: 2px solid rgb(196, 196, 196);
	border-radius: 20px;
	background: rgba(196, 196, 196, 0.4);
	height: 625px; /* Еще скорей всего будем менять */
	width: inherit;
}

.link-wrapper {
	border-radius: 20px;
	background: rgba(196, 196, 196, 0.4);
}

.link-wrapper-selected {
	border-radius: 20px;
	background: rgba(196, 196, 196, 0.4);
	background: rgba(18, 42, 127, 0.5);
}

.wrapper {
	border: 2px solid rgb(196, 196, 196);
	border-radius: 20px;
	background: rgba(196, 196, 196, 0.4);
}

.scrollable-wrapper {
	border: 2px solid rgb(196, 196, 196);
	border-radius: 20px;
	background: rgba(196, 196, 196, 0.4);
	overflow-y: scroll; 
}

.input-wrapper {
	border: 2px solid rgb(196, 196, 196);
	border-radius: 20px;
	background: rgba(196, 196, 196, 0.4);
	height:42px;
}

input{
	padding-left: 10px;
}


.header-wrapper {
	margin-left: 150px;
	margin-right: 150px;
}

.logo-icon {
	width: 115px;
	height: 115px;
}

.site-name-wrapper {
	border-left: 1px solid white;
}

h5 {
	margin-top: 0;
	margin-bottom: 0,25em;
}


@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end {
		right: 0;
		left: auto;
	}
	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
		width: 250px;
		/* Комментим,пока не решим проблему с hover */
		/*border: 2px solid rgb(196, 196, 196);
		border-radius: 20px;
		background: rgba(196, 196, 196, 0.4);*/
	}
	.navbar .nav-item:hover .nav-link {
		color: #fff;
	}
	.navbar .dropdown-menu.fade-down{ 
		top:80%; 
		transform: rotateX(-75deg); 
		transform-origin: 0% 0%; 
	}
	.navbar .dropdown-menu.fade-up{
		top:180%;  
	}
	.navbar .nav-item:hover .dropdown-menu {
		transition: .3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
}


.plus, .minus {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 16px 16px !important;
	width: 16px;
	height: 16px;
	/*vertical-align: middle;*/
}

.plus {
	background-image: url(https://img.icons8.com/color/48/000000/plus.png);
}

.minus {
	background-image: url(https://img.icons8.com/color/48/000000/minus.png);
}

ul {
	list-style: none;
	padding: 0px 0px 0px 20px;
}

	ul.inner_ul li:before {
		content: "├";
		font-size: 18px;
		margin-left: -11px;
		margin-top: -5px;
		vertical-align: middle;
		float: left;
		width: 8px;
		color: #41424e;
	}

	ul.inner_ul li:last-child:before {
		content: "└";
	}

.inner_ul {
	padding: 0px 0px 0px 35px;
}