@{
    Layout = "/Views/AccountManager/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="row">
        <h4 class="text-white">Полное совпадение</h4>
    </div>

    <div class="row scrollable-wrapper" style="width: 855px; height: 150px;">
    </div>

    <div class="row mt-2">
        <h4 class="text-white">Частичное совпадение</h4>
    </div>

    <div class="row scrollable-wrapper" style="width: 855px; height: 150px;">
    </div>

    <div class="row mt-2">
        <h4 class="text-white">Другие интересные предложения</h4>
    </div>

    <div class="row scrollable-wrapper" style="width: 855px; height: 150px;">
    </div>

</div>

